<div class='container my-2'>
  <div class='d-flex justify-content-end'>
    <% if signed_in_user_admin? %>
      <%= link_to 'Admin panel', admin_panel_path, class: 'btn btn-lg btn-primary me-3' %>
    <% end %>
    <% if user_signed_in? %>
      <%= render 'shared/sign_out_button', additional_classes: 'btn-lg' %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-lg btn-primary' %>
    <% end %>
  </div>
  <div class='check-container mx-auto'>
    <div class='card mt-3'>
      <div class='card-header'>
        <% if user_signed_in? %>
          Welcome back!
          <strong>
            <%= current_user.name %>
          </strong>.
        <% else %>
          Register your entry
        <% end %>
      </div>
      <div class="card-body">
        <div class='text-center my-5'>
          <h1 id='counter'>
          </h1>
        </div>
        <%= form_with url: '/check', method: :post do |form| %>
          <div class='input-group mb-3'>
            <%= form.text_field(:private_number, placeholder: 'Private number', class: 'form-control') %>
            <%= form.submit('Check', class: 'btn btn-outline-secondary') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script> 
const pad = (n) => {
  return String(n).length === 1 ? `0${n}` : n;
};

const showCurrentTime = () => {
    const counter = document.getElementById("counter");
    const now = new Date();
    const hours = now.getHours();
    const minutes = now.getMinutes();
    const seconds = now.getSeconds();
    counter.innerHTML = `${pad(hours)}:${pad(minutes)}:${pad(seconds)}`;
    setTimeout(showCurrentTime, 1000); 
}
showCurrentTime();
</script>
