<div class='col-10 mx-auto py-lg-3 mb-5 mb-md-0 py-2'>
  <div class='card'>
    <div class='card-header'>
      <%= header_label %>
    </div>
    <div class='card-body'>
      <%= form_with(model: branch) do |f| %>
        <div class='mb-3'>
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, placeholder: 'Enter name', class: 'form-control' %>
          <% branch.errors.full_messages_for(:name).each do |message| %>
            <div class='form-text text-danger'>
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class='mb-3'>
          <%= f.label :address, class: 'form-label' %>
          <%= f.text_field :address, placeholder: 'Enter address', class: 'form-control' %>
          <% branch.errors.full_messages_for(:address).each do |message| %>
            <div class='form-text text-danger'>
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class='row gx-2 justify-content-end'>
          <div class='col-auto'>
            <%= f.submit class: 'btn btn-primary' %>
          </div>
          <div class='col-auto'>
            <%= link_to 'Cancel', branches_path, class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
