<p style="color: green"><%= notice %></p>

<h1>Empresas</h1>
<br>
<%= link_to "New branch", new_branch_path ,class:"btn btn-primary" %>
<div id="branches">
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Creado cuando</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>

    <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <th scope="row"><%= branch.id %></th>
        <td><%= branch.name  %></td>
        <td><%= branch.address  %></td>
        <td><%= branch.created_at.localtime  %></td>
        <td> <%= link_to "Editar",edit_branch_path(branch), class:"btn btn-sm btn-warning" %></td> 
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


