<div class='col-xl-10 mx-auto'>
  <h1>Companies</h1>
  <p>
    <%= link_to "New company", new_branch_path, class:"btn btn-primary" %>
  </p>

  <div class='table-responsive-lx'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Created at</th>
          <th scope="col">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @branches.each do |branch| %>
          <tr>
            <th scope="row">
              <%= branch.id %>
            </th>
            <td>
              <%= branch.name %>
            </td>
            <td>
              <%= branch.address %>
            </td>
            <td>
              <%= branch.created_at.localtime %>
            </td>
            <td>
              <%= link_to "Edit", edit_branch_path(branch), class: "btn btn-sm btn-outline-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <%= pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
</div>
