<p style="color: green"><%= notice %></p>

<%= render @branch %>

<div>
  <%= link_to "Edit this branch", edit_branch_path(@branch) %> |
  <%= link_to "Back to branches", branches_path %>

  <%= button_to "Destroy this branch", @branch, method: :delete %>
</div>
