<div class="col-10 mx-auto py-lg-3 mb-5 mb-md-0 py-2">
  <div class="card">
    <div class="card-header">
      <%= header_label %>
    </div>
    <div class="card-body">
      <%= form_with(model: employee, url: url, method: method) do |f| %>

        <div class='mb-3'>
          <%= f.label 'Name', for: 'user_name', class: 'form-label' %>
          <%= f.text_field :name, placeholder: 'Enter name', class: 'form-control' %>
          <% employee.errors.full_messages_for(:name).each do |message| %>
            <div class='form-text text-danger'>
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class='mb-3'>
          <%= f.label 'Email', for: 'user_email', class: 'form-label' %>
          <%= f.text_field :email, placeholder: 'Enter email', class: 'form-control' %>
          <% employee.errors.full_messages_for(:email).each do |message| %>
            <div class='form-text text-danger'>
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class='mb-3'>
          <%= f.label 'Password', for: 'user_password', class: 'form-label' %>
          <%= f.password_field :password, placeholder: 'Enter password', class: 'form-control' %>
          <% employee.errors.full_messages_for(:password).each do |message| %>
            <div class='form-text text-danger'>
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class='mb-3'>
          <%= f.label 'Position', for: 'user_position', class: 'form-label' %>
          <%= f.text_field :position, placeholder: 'Enter position', class: 'form-control' %>
          <% employee.errors.full_messages_for(:position).each do |message| %>
            <div class='form-text text-danger'>
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class='mb-3'>
          <%= f.label 'Private number', for: 'user_private_number', class: 'form-label' %>
          <%= f.text_field :private_number, placeholder: 'Enter private number', class: 'form-control' %>
          <% employee.errors.full_messages_for(:private_number).each do |message| %>
            <div class='form-text text-danger'>
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class='mb-3'>
          <%= f.label 'Company branch', class: 'form-label' %>
          <%= f.select :branch_id, @branches.map { |branch| [branch.name, branch.id] }, {}, {class: 'form-select'} %>
        </div>

        <% if current_page?(edit_employee_path(employee.id || 0)) %>
          <div class='form-check form-switch'>
            <%= f.label 'Active', class: 'form-check-label', for: 'user_active' %>
            <%= f.check_box :active, class: 'form-check-input' %>
          </div>
        <% end %>

        <div class='row gx-2 justify-content-end'>
          <div class="col-auto">
            <%= f.submit button_label, class: 'btn btn-primary' %>
          </div>
          <div class="col-auto">
            <%= f.submit 'Cancel', class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
