<div class='col-xl-10 mx-auto'>
  <h1>Employees</h1>
  <p>
    <%= link_to "New employee", new_employee_path, class: "btn btn-primary" %>
  </p>

  <div class='table-responsive-lx'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Position</th>
          <th scope="col">Role</th>
          <th scope="col">Company</th>
          <th scope="col">Status</th>
          <th scope="col">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <th scope="row">
              <%= employee.id %>
            </th>
            <td>
              <%= employee.name %>
            </td>
            <td>
              <%= employee.email %>
            </td>
            <td>
              <%= employee.position %>
            </td>
            <td>
              <%= employee.role %>
            </td>
            <td>
              <%= employee.branch.name %>
            </td>
            <td class='text-center'>
              <%= button_to status_label(employee.active),
                  update_status_path(employee),
                  method: :delete,
                  class: "btn btn-sm #{button_status(employee.active)}" %>
            </td>
            <td>
              <%= link_to "Show", employee_path(employee), class: "btn btn-sm btn-outline-primary" %>

              <%= link_to "Edit", edit_employee_path(employee), class: "btn btn-sm btn-outline-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
