<p>
  <%= @employee.name %>
</p>
<p>
  <%= @employee.email %>
</p>
<p>
  <%= @employee.position %>
</p>
<p>
  <%= @employee.private_number %>
</p>
<p>
  <%= @employee.active %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee.id) %>
