<div class='container-fluid'>
  <h2>Attendances by day</h2>
  <%= form_with url: attendances_by_day_pdf_path(format: :pdf), method: :get do |form| %>
    <%= form.label 'Attendances of', class: 'form-label' %>
    <%= form.date_field :date_day %>
    <%= form.submit 'Download pdf', class: 'btn btn-sm btn-outline-primary', :formtarget => "_blank" %>
  <% end %>

  <hr>

</div>

<div class="container-fluid">
  <h1>Attendences</h1>
  <div>
    <table class="table table-bordered">
      <thead class="thead-dark table-dark">
        <tr>
          <th scope="col"># Employee</th>
          <th scope="col">Check In</th>
          <th scope="col">Check Out</th>
        </tr>
      </thead>

      <tbody>
        <% @today_attendance.each do |h| %>
          <tr>
            <td><%= h.user_id %></td>
            <td><%= h.check_in.localtime %></td>
            <td>
              <% if h.check_out %>
                <%= h.check_out.localtime %>
              <% else %>
                ---
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
