<div class='col-xl-10 mx-auto'>
  <h2>Attendances by day</h2>
  <%= form_with url: attendances_by_day_pdf_path(format: :pdf), method: :get do |form| %>
    <%= form.label 'Attendances of', class: 'form-label' %>
    <%= form.date_field :date_day %>
    <%= form.submit 'Download pdf', class: 'btn btn-sm btn-outline-primary', :formtarget => "_blank" %>
  <% end %>

  <hr>

  <h2>Daily Attendences</h2>
  <div class='table-responsive-lx'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"># Employee</th>
          <th scope="col">Employee name</th>
          <th scope="col">Company</th>
          <th scope="col">Check in</th>
          <th scope="col">Check out</th>
        </tr>
      </thead>

      <tbody>
        <% @daily_attendances.each do |attendance| %>
          <tr>
            <td><%= attendance.user_id %></td>
            <td><%= attendance.user.name %></td>
            <td><%= attendance.user.branch.name %></td>
            <td><%= attendance.check_in.localtime %></td>
            <td>
              <% if attendance.check_out %>
                <%= attendance.check_out.localtime %>
              <% else %>
                ---
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center align-items-center mt-5">
    <%= pagy_bootstrap_nav(@pagy).html_safe %>
  </div>

</div>
